body {
  font: 14px "Maven Pro", Helvetica, sans-serif;
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;

}

@media (max-width: 700px) {
  img {
    columns: 1
  }
.card-block {
    border-radius: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: hsla(360, 100%, 100%, 0.5);
}
a {
  color: #00B7FF;
}

h1 {
font: 14px "Maven Pro", Helvetica, sans-serif;
}
footer {
  background-color: #133929;
    position:static;
    bottom: 0;
    opacity: .9;
    width: 100%;
    overflow: hidden;
}
